@use  '../custom' as *;
@use  '../ui/mixins';

//Botones Flecha para regresar en el menu de servicios
#cerrar_instalacion {
    margin-left: 85%;
}

#cerrar_mudanzas {
    margin-left: 85%;
}

#cerrar_rec {
    margin-left: 85%;
}

#cerrar_armado {
    margin-left: 85%;
}

#cerrar_desarmado {
    margin-left: 85%;
}

#cerrar_mobiliario {
    margin-left: 85%;
}


#cerrar_computadoras {
    margin-left: 85%;
}

#cerrar_recInt {
    margin-left: 85%;
}

#cerrar_mobiliarioRec {
    margin-left: 85%;
}

//Botones de opciones dentro der servicio
.opciones__servicio--btn {

    @include media-breakpoint-up(md) {

        margin-top: 0.4rem;
    
        width: 6.5em;
        height: 3em;
    
        color: $white;
    
        font-size: 0.6em;
        
    }

    @include media-breakpoint-up(lg) {
    
        margin-top: 1rem;
    
        width: 7em;
        height: 3em;
    
        color: $white;
    
        font-size: 0.9em;
    }

    @include media-breakpoint-up(xl) {

        margin-top: 1.5rem;
        margin-right: 1rem;
    
        width:8em;
        height: 3em;
    
        color: $white;
    
        font-size: 1em;
    }

    @include media-breakpoint-up(xxl) {

        margin-top: 1.5rem;
        margin-right: 1rem;
    
        width:9em;
        height: 3em;
    
        color: $white;
    
        font-size: 1em;
    }

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.btn-servicioMD {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1.5rem;
}