@use  '../custom' as *;
@use  '../ui/mixins';


//!Servicio de MObiliario
.container__servicio--instalacion{

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios('../../../build/img/fotos_reales/mob_1.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true )

}

.container__servicio--instalacion:hover{
    opacity: 75%;

}

//!Servicio de Armado
.container__servicio--armado{

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/mob_23.webp', $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0, $ml:false )
}

.container__servicio--armado:hover{
    opacity: 75%;
}

//!Servicio de Desarmado
.container__servicio--desarmado{

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/benz_5.webp', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $ml:false )
}

.container__servicio--desarmado:hover{
    opacity: 75%;
}

//!Sub-servicio de armado de mobiliario
.container__servicio--armado-s {
    
    @include mixins.breackpoints_higth--servicios;

    @include mixins.imagenes_menu-servicios-servicio('$url', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $mt:false);
}

.container__servicio--armado-s-s {
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/mob_23.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true )
}

//!Imagen SVG de la seccion de informacion de armado
.img__mudanza--mobiliario {

    @include media-breakpoint-up(md) {
        margin-top: 30%;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 25%;
    }
    
    @include media-breakpoint-up(xl) {
        margin-top: 40%;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 25%;
    }

    width: 200%;

}

//!Sub-servicio de desarmado de mobiliario
.container__servicio--desarmado-s {
    
    @include mixins.breackpoints_higth--servicios;

    @include mixins.imagenes_menu-servicios-servicio('$url', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $mt:false);
}

.container__servicio--desarmado-s-s {
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/mob_23.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true )
}

//!Imagen SVG de la seccion de informacion de desarmado
.img__desarmado--mobiliario {

    @include media-breakpoint-up(md) {
        margin-top: 30%;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 25%;
    }
    
    @include media-breakpoint-up(xl) {
        margin-top: 40%;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 25%;
    }

    width: 200%;

}



