@use  '../custom' as *;
@use  '../ui/mixins';


body {
    background-color: $primary;
}

.servicios {
    
    @include media-breakpoint-down(md) {
        display: none;
    }

    margin-top: 10%;
}













