@use  '../custom' as *;

//!Ajusta la altura de la seecion de servicios
@mixin breackpoints_higth--servicios {

    @include media-breakpoint-up(md){
        height: 16rem;
    }
    
    @include media-breakpoint-up(lg){
        height: 18rem;
    }

    @include media-breakpoint-up(xl){
        height: 25rem;
    }

    @include media-breakpoint-up(xxl){
        height: 30rem;
    }
}

//!Agrega el fondo de imagen y de gradiente a las secciones de los servicios
@mixin imagenes_menu-servicios($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0,  $ml:true ) {
    width: 33%;

    background: {
        image:linear-gradient(to right top, #05193799, #004d7a99, #00879399, #00bf7299, #a8eb1299), url($url);
        repeat: no-repeat;
        position: center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }

    cursor: pointer;
    
    @if ($ml) {
        margin-left: .5em;
    } @else {
        margin-left: 0;
    }
}

//!Agrega el fondo de imagen y de gradiente a las secciones de los servicios seleccionados
@mixin imagenes_menu-servicios-s($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0,  $ml:true ) {
    width: 33%;

    background: {
        image:linear-gradient(0deg, rgba(0, 251, 255, 0.483) 0%, rgba(45, 121, 253, 0.477) 100%), url($url);
        repeat: no-repeat;
        position: center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }

    cursor: pointer;
    
    @if ($ml) {
        margin-left: .5em;
    } @else {
        margin-left: 0;
    }
}

//!Agrega el fondo de imagen y de gradiente a las secciones de los servicios debajo de MD
@mixin imagenes_menu-servicios-md-down($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0, $mt:false) {

    width: 100%;
    height: 18em;
    
    background: {
        image:linear-gradient(to right top, #05193799, #004d7a99, #00879399, #00bf7299, #a8eb1299), url($url);
        repeat: no-repeat;
        position: center center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }

    @if ($mt) {
        margin-top: 0.5em;
    }

    text-align: center;
    cursor: pointer;
}

//!Agrega el fondo de imagen y de gradiente a las secciones de los servicios debajo de MD seleccionados
@mixin imagenes_menu-servicios-md-down-s($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0, $mt:false) {

    width: 100%;
    height: 18em;
    
    background: {
        image:linear-gradient(0deg, rgba(0, 251, 255, 0.483) 0%, rgba(45, 121, 253, 0.477) 100%), url($url);
        repeat: no-repeat;
        position: center center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }

    @if ($mt) {
        margin-top: 30em;
    }

    text-align: center;
    cursor: pointer;
}

//!Crea el estilo para mostrar la informacion del servicio especifico seleccionado 
@mixin imagenes_menu-servicios-servicio($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0, $mt:false) {

    width: 66%;
    
    background: {
        image:linear-gradient(0deg, rgba(12,0,255,0.5270483193277311) 0%, rgba(181,45,253,0.6222864145658263) 100%), url($url);
        repeat: no-repeat;
        position: center center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }

    @if ($mt) {
        margin-top: 30em;
    }

    text-align: center;
    cursor: pointer;
}

//!
@mixin imagenes_menu-servicios-servicio-md-down($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0) {

    width: 100%;
    height: 46em;

    background: {
        image:linear-gradient(0deg, rgba(12,0,255,0.5270483193277311) 0%, rgba(181,45,253,0.6222864145658263) 100%), url($url);
        repeat: no-repeat;
        position: center center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }
}

@mixin imagenes_nosotros-menuServ ($url, $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0) {

   // @include media-breakpoint-up(md) {
    //    height: 100em;
    //}

    width: 98.5%;
    height: 23em;

    margin: 2rem auto;

    background: {
        image:linear-gradient(0deg, rgba(12,0,255,0.5270483193277311) 0%, rgba(181,45,253,0.6222864145658263) 100%), url($url);
        repeat: no-repeat;
        position: center center ;
        size: cover;
    }

    border: {
        start-start-radius: $rounded1;
        end-start-radius: $rounded2;
        end-end-radius: $rounded3;
        start-end-radius: $rounded4;
    }
}

//! Ajusta los textos de la seccion de nosotros

@mixin breakpoints_titulo-nosotros {

    @include media-breakpoint-up(md) {
        font-size: 1.7rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2.5rem;
    }
}

@mixin breakpoints_texto-nosotros {

    @include media-breakpoint-up(md) {
        font-size: 0.9rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.1rem;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 1.2rem;
    }
}

