@use  '../custom' as *;
@use  '../ui/mixins';

//!Servicio de Mudanza
.container__servicio--mudanzas {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios('../../../build/img/fotos_reales/cajas_7.webp', $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0,  $ml:false )

}

.container__servicio--mudanzas:hover{
    opacity: 75%;
}

.container__servicio--mudanzas-s {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios('../../../build/img/fotos_reales/cajas_7.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true )
}

.container__servicio--mudanzas-s:hover{
    opacity: 75%;
}

//!Sub-servicio de Mudanza de mobiliario
.container__servicio--mobiliario {

    @include mixins.breackpoints_higth--servicios;  
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/emp_7.webp', $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0, $ml:false )
}

.container__servicio--mobiliario:hover{
    opacity: 75%;
}

.container__servicio--mobiliario-s {

    @include mixins.breackpoints_higth--servicios;

    @include mixins.imagenes_menu-servicios-servicio('$url', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $mt:false);
}

.container__servicio--mobiliario-s-s {

    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/emp_7.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true );
}

//!Sub-servicio de Mudanza de computadoras

.container__servicio--computadoras {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/emp_22.webp', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $ml:false )
}

.container__servicio--computadoras:hover{
    opacity: 75%;
}

.container__servicio--computadoras-s {

    @include mixins.breackpoints_higth--servicios;

    @include mixins.imagenes_menu-servicios-servicio('', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $mt:false);
}

.container__servicio--computadoras-s-s {

    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/emp_22.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true );
}

//!Imagenes SVG de la seccion de informacion 
.img__mobiliario--mobiliario {

    @include media-breakpoint-up(md) {
        margin-top: 30%;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 25%;
    }
    
    @include media-breakpoint-up(xl) {
        margin-top: 40%;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 25%;
    }

    width: 200%;

}

.img__computadoras--computadoras {

    @include media-breakpoint-up(md) {
        margin-top: 30%;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 25%;
    }
    
    @include media-breakpoint-up(xl) {
        margin-top: 40%;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 25%;
    }

    width: 200%;

}