@use  '../custom' as *;
@use  '../ui/mixins';

//!Servicio de reconfiguración
.container__servicio--reconfiguracion {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios('../../../build/img/fotos_reales/mob_23.webp', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $ml:false )

}

.container__servicio--reconfiguracion:hover{
    opacity: 75%;
}

//!Servicio de reconfiguración seleccionado
.container__servicio--reconfiguracion-s {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios('../../../build/img/fotos_reales/mob_23.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0, $ml:true )

}

.container__servicio--reconfiguracion-s:hover{
    opacity: 75%;
}

//!Servicio de regonfiguracion de mobiliario
.container__servicio--mobiliario-rec {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/rec_11.webp', $rounded1:0, $rounded2:0, $rounded3:0, $rounded4:0, $ml:false )
}

.container__servicio--mobiliario-rec:hover{
    opacity: 75%;
}

//!Servicio de reparacion de mobiliario
.container__servicio--rec_int {

    @include mixins.breackpoints_higth--servicios;
    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/des_3.webp', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $ml:false )
}

.container__servicio--rec_int:hover{
    opacity: 75%;
}

//!Sub-servicio de reconfiguración de mobiliario
.container__servicio--mobiliario-rec-s {

    @include mixins.breackpoints_higth--servicios;

    @include mixins.imagenes_menu-servicios-servicio('', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $mt:false);
}

.container__servicio--mobiliario-rec-s-s {

    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/emp_1.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true );
}

//!Sub-servicio de reparación de mobiliario
.container__servicio--mobiliario-recInt-s {

    @include mixins.breackpoints_higth--servicios;

    @include mixins.imagenes_menu-servicios-servicio('', $rounded1:0, $rounded2:0, $rounded3:40px, $rounded4:40px, $mt:false);
}

.container__servicio--mobiliario-recInt-s-s {

    @include mixins.imagenes_menu-servicios-s('../../../build/img/fotos_reales/emp_1.webp', $rounded1:40px, $rounded2:40px, $rounded3:0, $rounded4:0,  $ml:true );
}

//!Imagen SVG de la seccionn de información del servicio seleccionado
.img__mobiliario--mobiliario-recInt {

    @include media-breakpoint-up(md) {
        margin-top: 30%;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 25%;
    }
    
    @include media-breakpoint-up(xl) {
        margin-top: 40%;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 25%;
    }

    width: 200%;

}


